{% extends '../layouts/base.html' %}

{% block content %}
  {% if form.errors %}
    <p>Su nombre de usuario y contraseña no coinciden. Inténtalo de nuevo.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Su cuenta no tiene acceso a esta página. Para continuar,
      inicie sesión con una cuenta que tenga acceso.</p>
    {% else %}
      <p class="text-center">Por favor inicie sesión para ver esta página.</p>
    {% endif %}
  {% endif %}
<div class="container">
  <div class="col-12 col-md-6 offset-0 offset-md-3 mt-4 mb-4">
    <h3 class="text-center mb-5 mt-5">Inicio Sesion</h3>
    <div>
      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="mb-3 text-center">
          <label for="">
            {{ form.username.label_tag }}
          </label>
          <div>
            {{ form.username }}
          </div>

        </div>
        <div class="mb-3 text-center">
          <label for="">
            {{ form.password.label_tag }}
          </label>
          <div>
            {{ form.password }}
          </div>

        </div>
        <div class="text-center">
          <input type="submit" value="login">
        <input type="hidden" name="next" value="{{ next }}">
        </div>        
      </form>    
      {# Asume que configura la vista de restablecimiento de contraseña en su URLconf #}
      <p class="text-center mt-5"><a href="{% url 'password_reset' %}">¿Olvidó su contraseña?</a></p>
    
    </div>
  </div>
</div>  
{% endblock %}