* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    min-height: 100vh;
    padding-bottom: 70px;
    scrollbar-gutter: initial;
    overflow: scroll;
}

footer{
    background-color: white;
    height: 60px;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
