{% extends '../layouts/base.html' %}

{% block title %}
    Onlyflans|Bienvenidos
{% endblock %}

{% block content %}
    <div class="container-fluid ms-4 mt-5">
        <h1>Muffins</h1>
    </div>
<div class="container-fluid">
    <div class="row justify-content-md-center">
        {% for muffin in muffins %}
            <div class="col-md-3">
                <div class="card m-4" style="width: 18rem;">
                    <img src="{{ muffin.image_url}}" class="card-img-top" alt="{{muffin.name}}" style=" height: 12rem;">
                    <div class="card-body">
                    <h5 class="card-title">{{muffin.name}}</h5>
                    <p class="card-text">{{muffin.description}}</p>
                    <a href="#" class="btn btn-primary">Añadir</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

</div>
{% endblock %}