{% extends '../layouts/base.html'%}

{% block title %}
    Onlyflans|flan_index
{% endblock %}

{% block content %}
    <div class="container-fluid ms-4 mt-5">
        <h1>Flan</h1>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-md-center">
            {% for flan in flans %}
                <div class="col-md-3">
                    <div class="card m-4" style="width: 18rem;">
                        <img src="{{ flan.image_url}}" class="card-img-top" alt="{{flan.name}}" style="height: 12rem;">
                        <div class="card-body">
                        <h5 class="card-title">{{flan.name}}</h5>
                        <p class="card-text">{{flan.description}}</p>
                        <a href="#" class="btn btn-primary">Añadir</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}